<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ReliusConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.150.10.100)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = RaDb.world))); User ID=Qt;Password=qt" />
		<add name="BillingConnectionString" connectionString="Data Source=SC-LAP-32;Initial Catalog=Billing;Persist Security Info=True;User ID=webuser;Password=PenServW3b" />
	</connectionStrings>
	<appSettings>
		<add key="VanguardCensusFileName" value="c:\Temp\VANGUARDAOP_CENSUS_RELIUS"/>
	</appSettings>
</configuration>